.cart-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}
th {
  padding: 1rem;
  background-color: rgb(56, 56, 56);
  color: white;
}
.title {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(155, 155, 155);
}
.cart-table {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.cart-button {
  display: flex;
  /* flex-direction: column; */
  /* flex-item: baseline; */
  justify-content: space-between;
  flex-grow: 1;
}
.cart-button > button {
  box-shadow: 5px 5px 5px grey;
  margin-top: auto;
}
.checkout {
  padding: 5rem;
}
.checkout > button {
  padding: 2em;
  width: 10rem;
  height: 4rem;
  background-color: rgb(245, 211, 117);
  box-shadow: 5px 5px 5px grey;
}
@media screen and (max-width: 24rem) {
  .cart-table {
    display: flex;
  }
}
