.cart-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}
.cart-table > tr > th {
  color: white;
}
.cart-table > tr {
  display: flex;
  justify-content: space-between;
}
.cart-table-header {
  background-color: rgba(29, 28, 28, 0.808);
}
.title {
  background-color: rgb(155, 155, 155);
}
.cart-table {
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem;
  border: 1px solid rgb(131, 131, 131);

}
.cart-button {
  display: flex;
  flex-direction: row;
  /* flex-item: baseline; */
  justify-content: space-between;
}
.cart-button > button,
p > button {
  box-shadow: 5px 5px 5px grey;
  margin-top: auto;
  border-radius: 10px;
}
.checkout {
  padding: 5rem;
  background-color: rgba(153, 157, 160, 0.774);
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}
.checkout > button {
  display: flex;

  padding: 2em;
  width: 10rem;
  height: 4rem;
  background-color: rgb(245, 211, 117);
  box-shadow: 5px 5px 5px grey;
}
@media screen and (max-width: 24rem) {
  .cart-table{
    margin: auto;
  }
  .cart-button {
    margin: 10px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
  .cart-table-header>th, .cart-div{
    margin: auto;
    font-size: xx-small;
  }
  .checkout{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
