.checkout-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 15px 10rem;
    padding: 2rem;
}
@media screen and (max-width: 50rem) {
    .checkout-form{
      margin: auto;
      padding: 1rem;
      display: flex;
      justify-content: center;
    }
    .checkout-form>input{
        align-items: center;
    }
  }