.checkout-form>Form{
    display: flex;
    flex-direction: column;
    margin: 15px 10rem;
}
 
p>label{
  display: flex;
}
Form>button{
  margin: 15px 10rem;
}
@media screen and (max-width: 50rem) {
    .checkout-form{
      margin: auto;
      padding: 1rem;
      display: flex;
      justify-content: center;
    }
    .checkout-form>input{
        align-items: center;
    }
  }