.checkout-form{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem;
  box-shadow: 10px 10px 5px rgb(143, 137, 137);
  padding: 1rem;
  border-radius: 25px;
}
.checkout-form>Form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 4rem;

}
Form>p{
  display: flex;
  flex-direction: column;
  
}
/* p>label{
  display: flex;
}
Form>button{
  margin: 15px 10rem;
} */
@media screen and (max-width: 50rem) {
    .checkout-form>Form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem 1rem;
    
    }
  }