@import '../../styles/index.scss';
.product-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: $breakpoint-for-phone) {
  .product-card{
    margin: auto;
    display: flex;
    justify-content: center;
  }
  h1{
    font-size: large;
  }
}
