.cart-table-header {
  text-align: left;
}

.item-value {
  text-align: left;
}

.orders-table-header > th {
  width: 50%;
  background-color: rgba(29, 28, 28, 0.808);
}

.item-value > td {
  width:50%;
}
tbody>tr>td{
  width: 50%
}

.title {
  text-align: left;
}

