.orders-table-header {
  text-align: left;
}
.orders-table > thead>tr {
  display: flex;
  justify-content: space-between;
}
.orders-table{

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  margin: 5rem;
}
.item-value {
  text-align: left;
}

.orders-table-header > th {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.808);
  color: aliceblue;
}

.order-value > td {
  width:25%;
}
tbody>tr>td{
  width: 25%
}

.title {
  text-align: left;
}

